
/* ================================================== */
/* color variables */
/* ================================================== */

body {
    --bg-color: #111;
    --secondary-color: #333;
    --lighter-color: #444;
    
    --text-color: #aaa;
    --secondary-text-color: #888;
    --accent-color: #baa;

    --border-color: #666;
}

/* ================================================== */
/* common elements */
/* ================================================== */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.btn {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
}

.btn:hover {
    background-color: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

.btn.bordered {
    border-color: var(--secondary-color) !important;
}

/* alternative color */

.accent {
    background-color: var(--secondary-color);
}

.btn.accent {
    color: var(--text-color) !important;
    background-color: var(--secondary-color) !important;
}

.btn.accent:hover {
    background-color: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

input.accent[type="text"] {
    background-color: var(--secondary-color) !important;
    color: var(--accent-color);

    border: 2px solid var(--secondary-color) !important;
    border-radius: 10px;
}

input.accent[type="text"]:focus {
    background-color: #111;
    color: var(--accent-color);
    outline: none;

    border: 2px solid var(--accent-color) !important;
    border-radius: 10px;
}

textarea.accent {
    background-color: var(--secondary-color) !important;
    color: var(--accent-color);

    border: 2px solid var(--secondary-color) !important;
    border-radius: 10px;
}

textarea.accent:focus {
    background-color: #111;
    color: var(--accent-color);
    outline: none;

    border: 2px solid var(--accent-color) !important;
}

.accent.textarea {
    background-color: var(--secondary-color) !important;
    color: var(--accent-color);

    border: 2px solid var(--secondary-color) !important;
    border-radius: 10px;
}

.accent.textarea:focus {
    background-color: #111;
    color: var(--accent-color);
    outline: none;

    border: 2px solid var(--accent-color) !important;
}