body {
    background-color: var(--bg-color);
    user-select: none;  
}


/* ================================================== */
/* top row styling */
/* ================================================== */

.top-row {
    min-height: 3vh;
/*    border-bottom: 1px solid var(--border-color);*/
}

/* button */
.btn-top {
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    border-color: var(--bg-color) !important;

    min-height: 3vh;
}

.btn-top:hover {
    background-color: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

.btn-top img {
    width: 14px;
    filter: brightness(0.6)contrast(3.4)hue-rotate(180deg)saturate(5);
}

.workspace-controls {
    border-bottom: 1px solid var(--border-color);
}

.tabs {
    max-width: 77%;
    overflow: hidden; 
}

#space {
    flex-grow: 1; 

    border-bottom: 1px solid var(--border-color);
}

.app-controls {
    max-width: fit-content;
    min-width: fit-content;

    display: flex;

    border-bottom: 1px solid var(--border-color);
}

.addTabContainer {
    border-bottom: 1px solid var(--border-color);
    min-height: 100%;
}

.tab-spacer {
    border-bottom: 1px solid var(--border-color);
    width: 5px;
    min-height: 100%;
}


/* ================================================== */
/* bottom row styling */
/* ================================================== */

.bottom-row {
    background-color: var(--secondary-color);

    min-height: 4vh;
}

.btn-bottom {
    color: var(--text-color) !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;

    min-height: 3vh;
}

.btn-bottom:hover {
    background-color: var(--border-color) !important;
    border-color: var(--border-color) !important;
}

.btn-bottom img:not(.fav-icon) {
/*.btn-bottom img {*/
    width: 16px;
    filter: brightness(0.6)contrast(3.4)hue-rotate(180deg)saturate(5);
}

.fav-icon {
    width: 16px;
}

.shaded-img {
    filter: brightness(0.6)contrast(3.4)hue-rotate(180deg)saturate(5);
}


/* ================================================== */
/* adress bar */
/* ================================================== */

#address-bar {
    flex-grow: 1;
    height: 100%;
}

#address-bar p {
    justify-content: center;
}

.wide {
    width: 100%;
}

.text-input {
    background-color: var(--secondary-color) !important;
    color: var(--accent-color);

    border: 2px solid var(--secondary-color) !important;
    border-radius: 10px;
    padding: 2px;
    padding-left: 6px;
}

.text-input:focus {
    background-color: #111;
    color: var(--accent-color);

    outline: none;
    border: 2px solid var(--accent-color) !important;
    border-radius: 10px;
    padding: 2px;
    padding-left: 4px;
}


/* ================================================== */
/* tabs styling */
/* ================================================== */

#tab-list {
    min-height: 100%;
}

.tab {
    display: relative;
    min-width: fit-content;
    padding-left: 5px;
    padding-right: 5px;

    background-color: var(--bg-color);
    color: var(--text-color);

    border-bottom: 1px  solid var(--border-color) !important;
}

.tab div {
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
    text-align: end;
}

.tab:not(.selected):hover {
    background-color: var(--secondary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected {
    border: 1px solid var(--border-color);
    position: relative;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--border-color) !important;
    border-bottom: 1px  solid var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;

    color: var(--accent-color) !important;

    z-index: 3;
}

.selected:before,
.selected:after {
    position: absolute;
    bottom: -1px;

    width: 12px;
    height: 12px;

    border: 1px solid white;
    content: " ";
}

.selected:before {
    left: -12px;

    border-bottom-right-radius: 12px;
    border-width: 0 1px 1px 0;
    border-color: var(--border-color);

    box-shadow: 4px 4px 0 var(--secondary-color);
}

.selected:after {
    right: -12px;

    border-bottom-left-radius: 12px;
    border-width: 0 0 1px 1px;
    border-color: var(--border-color);

    box-shadow: -4px 4px 0 var(--secondary-color);
}
