
/* ================================================== */
/* controls modals */
/* ================================================== */

.text-bordered {
    border: 1px solid var(--border-color);
}


#fav-modal {
    gap: 1em;
}

#fav-dialog {
    display: flex;
    align-items: center;
    max-width: 400px;

    gap: 10px;
}

#fav-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#fav-controls button {
    width: 100%;
}

#fav-remove {
    
}

#fav-address {
    display: flex;
    gap: 5px;
    align-items: center;
}

#fav-address div input {
    width: 100%;
}

#fav-name {
    min-width: 20em;
}

#workspace-create-button {
    width: 100%;
}

#workspace-new-button {
    height: 100%;
    border-radius: 10px;
}

#workspace-dialog {
    max-width: 100%;
    max-height: 90%;
}

#workspace-list {
    overflow-x: scroll;
    overflow-y: hidden;

    flex-wrap: nowrap;
}

#workspace-list::-webkit-scrollbar {
    display: none;
}

#workspace-color {
    min-width: 64px;
    min-height: 64px;
}

.text-secondary {
    color: var(--secondary-text-color);
}

.workspace-item {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;

    min-width: content;
}

.workspace-item:hover {
    background-color: var(--secondary-color);
}

.workspace-item:focus {
    opacity: 0.5;
}

.selected-workspace {
    border: 2px solid var(--border-color);
}