
.content {
    min-height: 100vh;

    display: flex;

    gap : 1em;
    justify-content: center;
}

#graph-container {
    flex-grow: 1;

    background-color: var(--secondary-color);
/*    background-color: white;*/
    border-radius: 15px;
}

.right-block {
    width: 30%;

    display: flex;
    flex-direction: column;

    gap: 1em;
}

#note-content {
    background-color: var(--secondary-color);
    color: var(--text-color);

    flex-grow: 1;

    border-radius: 15px;

    padding: 1em;
}

#controls {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#controls > button {
    flex: 1 1 0;
    width: 0;

    padding: 0.375rem 5px 0.375rem 5px;
}

button > img {
    width: 32px;
}

#add-dialog {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

#add-dialog > textarea {
    flex-grow: 1;

    padding: 5px;
    resize: none;
}

#add-dialog > div > input[type="text"] {
    padding: 5px;

    flex-grow: 1;
}

#edit-dialog {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

#edit-dialog > textarea {
    flex-grow: 1;

    padding: 5px;
    resize: none;
}

#edit-dialog > div > input[type="text"] {
    padding: 5px;

    flex-grow: 1;
}

.selected {
    stroke: var(--accent-color);
    stroke-width: 2;
}

/* styling markdown */
#content > :not(.hljs) {
    color: #fff;
}

code.hljs {
    border-radius: 10px;
}