
/* ================================================== */
/* controls modals */
/* ================================================== */

.text-bordered {
    border: 1px solid var(--border-color);
}

/* fav modal */
.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.modal-content .btn {
    color: var(--text-color);
    border-color: var(--secondary-color);
}

.modal-content .btn:hover {
    background-color: var(--secondary-color);
}

#fav-modal {
    gap: 1em;
}

#fav-dialog {
    display: flex;
    align-items: center;
    max-width: 400px;

    gap: 10px;
}

#fav-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#fav-controls button {
    width: 100%;
}

#fav-remove {
    
}

#fav-address {
    display: flex;
    gap: 5px;
    align-items: center;
}

#fav-address div input {
    width: 100%;
}

#fav-name {
    min-width: 20em;
}

#workspace-create-button {
    width: 100%;
}

#workspace-color {
    min-width: 64px;
    min-height: 64px;
}

.text-secondary {
    color: var(--secondary-text-color);
}